<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="account"></ion-back-button>
      <ion-title>Reviews</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let review of reviewList" (click)="openModal(review)">
    <ion-item>
      <ion-avatar slot="start">
        <!-- <img src="../../assets/user.jpg"> -->
      </ion-avatar>
      <ion-label>
        <h3 *ngIf="auth === review.user">
          <h3>Posted by:</h3>
          You
        </h3>
      </ion-label>
    </ion-item>
      <ion-card-header>
        <ion-card-title>{{review.title}}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      {{review.reviewBody}}
      <ion-footer collapse="fade"> Posted: {{review.date}} </ion-footer>
    </ion-card-content>
  </ion-card>
</ion-content>
