<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
      <ion-title>Account</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list>
      <ion-item button [routerLink]="['/user-photos']">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <span>Photo</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>

      <ion-item button [routerLink]="['/reviews']">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <span>Reviews</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>

      <ion-item button [routerLink]="['/view-your-trails']">
        <ion-icon name="walk-outline" slot="start"></ion-icon>
        <span>Trails</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>

      <!-- <ion-item button [routerLink]="['']">
        <ion-icon name="cog-outline" slot="start"></ion-icon>
        <span>Preferences (Coming Soon...)</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item> -->
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center;">
    <ion-button color="secondary" class="danger" button (click)="signOut()">
      Sign-Out
    </ion-button>
  </ion-toolbar>
</ion-footer>
