<ion-header>
  <ion-toolbar>
    <ion-buttons style="color: #205566;" (click)="dismissModal()" slot="start">
      Close
    </ion-buttons>
    <ion-title>All Reviews for: {{placeNameForHeader}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let review of reviews" (click)="openModal(review)">
    <ion-item (click)="openModal(review)">
      <ion-avatar slot="start">
        <img src="../../assets/avatar.jpg">
      </ion-avatar>
    </ion-item>
      <ion-card-header>
        <ion-card-title>{{review.title}}</ion-card-title>
      </ion-card-header>
    <ion-card-content>
      {{review.reviewBody}}
      <ion-footer collapse="fade"> Posted: {{review.date}} </ion-footer>
    </ion-card-content>
  </ion-card>
</ion-content>
