<ion-header>
  <ion-toolbar>
    <ion-title>Results for: {{placeNameForHeader}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item button (click)="openModal('photos')">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <span>Photo</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>

      <ion-item button (click)="openModal('reviews')">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        <span>Review</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>

      <ion-item button (click)="openModal('trails')" >
        <ion-icon name="walk-outline" slot="start"></ion-icon>
        <span>Trails</span>
        <ion-icon
          class="icon-chevron"
          name="chevron-forward-outline"
          slot="end"
        ></ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
