<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button
        slot="start"
        defaultHref="login"
        style="color: #205566"
      ></ion-back-button>
      <ion-title>Forgot Password</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <div class="input-group">
      <ion-item>
        <ion-input
          type="text"
          required
          placeholder="enter email"
          [(ngModel)]="email"
          [ngModelOptions]="{standalone: true}"
        >
        </ion-input>
      </ion-item>
    </div>
    <ion-button
      class="submit"
      type="submit"
      expand="block"
      (click)="forgotPassword()"
      >Send Link</ion-button
    >
  </form>
</ion-content>
