<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="login" style="color: #205566;"></ion-back-button>
      <ion-title>Signup</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- sign up form -->
  <form>
    <div class="input-group">
      <div class="email-password-signup">
        <ion-item>
          <ion-input name="email" placeholder="Enter your email address" type="email" [(ngModel)]="usersEmailAddress" #email required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="password" placeholder="Enter a password" type="password" [(ngModel)]="usersPassword" #password required></ion-input>
        </ion-item>
      </div>
      <ion-item>
        <ion-input placeholder="First Name" type="text" #fName required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Last Name" type="text" #lName required></ion-input>
      </ion-item>
    </div>
    <ion-button class="signUpButton" type="submit" expand="block" (click)="signUp()">
      Signup
    </ion-button>
  </form>
</ion-content>
