<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="dismissModal()">
      <ion-back-button></ion-back-button>
      <ion-title><ion-icon name="arrow-back"></ion-icon></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: small;">{{user}}</ion-title>
  </ion-toolbar>
  <ion-img [src]="image"></ion-img>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
        <!-- code here to show quantity of up votes -->
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
