<ion-header>
  <ion-toolbar>
    <ion-buttons style="color: #205566;" (click)="dismissModal()" slot="start">
      Close
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <google-map height="35%" [options]="mapConfigurations" [center]="center">
    <map-marker [position]="markerCoords.position"></map-marker>
  </google-map>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/avatar.jpg">
      </ion-avatar>
      <ion-label>
        <h3 *ngIf="auth === review.user">
          <h3 color="secondary">Posted by:</h3>
          You
        </h3>
        <p>{{review.date}}</p>
      </ion-label>
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{review.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> {{review.reviewBody}} </ion-card-content>
  </ion-card>
</ion-content>
