<ion-content>
  <input
    #mapSearchField
    class="my-map-search-field"
    type="text"
    placeholder="Search..."
  />
  <google-map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    [options]="mapConfigurations"
  >
  </google-map>
  <div class="button-inputs">
    <div class="settings-button">
      <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button [routerLink]="['/account']">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="post-button">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="menu-outline" [routerLink]="['/post']"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
