ion-fab-button {
  --background: #205566;
}

.my-map-search-field {
  background-color: #205566;
  color:white;
  text-align: center;
  width: 80%;
  margin-top: 2%;
  height: 4%;
  border-radius: 10px;
}
::placeholder{
  color: #ddd;
  opacity: 1;
}
